@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&family=Sarabun:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.body_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/my_images/panda.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 100px;
  background: #006747;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.error_message {
  color: rgb(255, 0, 0);
  text-align: center;
}
.success_message {
  color: rgb(0, 255, 89);
  text-align: center;
}

.logo {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  user-select: none;
  text-decoration: none;
  border: none;
}
.logo:hover {
  cursor: pointer;
  color: #a9c47f;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2em;
  color: #f1efc8;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate Y(-50%);
  font-size: 1em;
  color: #f1efc8;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.8em;
  color: #172b23;
  font-weight: 500;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #172b23;
  line-height: 57px;
}

.remember {
  font-size: 0.9em;
  color: #172b23;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember label input {
  accent-color: #172b23;
  margin-right: 3px;
}

.remember a {
  color: #172b23;
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #009a6a;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #172b23;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #172b23;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
.footer_container {
  display: flex;
  justify-content: center;
  background-color: #006747;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  height: 25vh;
}
.footer_container .footer_items h2 {
  color: #a9c47f;
  font-size: 20px;
  padding-bottom: 10px;
}
.footer_container .footer_items p {
  font-size: 14px;
  color: white;
  margin-top: 0;
}
.footer_container .footer_items a {
  color: #a9c47f;
}
.footer_container .footer_items .about-us {
  text-decoration: none;
}
.footer_container .footer_items .about-us:hover {
  text-decoration: underline;
}
.footer_container .footer_items {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 20px;
  text-decoration: none;
}
.footer_container .footer_items i {
  margin-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.footer_container .footer_items i:hover {
  color: #a9c47f;
}
