/* enclosure report css */
body {
  background-color: #e0e0e0;
}
.report_container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.animal_table {
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 25px 0;
}

.animal_table,
th,
td {
  /* border: 2px solid #e0e0e0; */
  border-collapse: collapse;
  padding: 10px;
}

.animal_table th,
.animal_table td {
  padding-inline: 2rem;
}

.animal_table thead tr {
  background-color: #006747;
  color: white;
  text-align: left;
  font-weight: bold;
}

.animal_table tbody tr {
  border-bottom: 2px solid #e0e0e0;
}

.animal_table tbody tr:nth-of-type(even) {
  background-color: #e0e0e0;
}

.animal_table tbody tr:last-of-type {
  border-bottom: 2px solid #006747;
}

.enclosure_option {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
select {
  width: 150px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
h2 {
  margin-top: 40px;
  text-align: center;
}
.filter_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  padding-block: 1rem;
  padding-inline: 2rem;
  gap: 1rem;
}

.date_filter > input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.filter_btn {
  width: 5rem;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #006747;
  color: white;
}
.filter_btn:hover {
  background-color: #009a6a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
header {
  text-align: center;
  padding: 10px;
  background-color: #006747;
  position: relative;
}

h1 {
  display: inline-block;
  margin: 0 auto;
  color: white;
}

.logout_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}

.logout_container a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.logout_container a:hover {
  color: #a9c47f;
}
.container {
  margin: 20px;
  text-align: center;
}
.tab_btn {
  background-color: #009a6a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006747;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  height: 5rem;
}
.line {
  height: 1px;
  width: 75%;
  background-color: white;
  margin-left: 12.5%;
}
.dropdown-content a {
  margin: auto 0;
  font-size: 20px;
  padding: 5px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content a {
  color: white;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #a9c47f;
}
/* footer css */
.footer_container {
  display: flex;
  justify-content: center;
  background-color: #006747;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  height: 25vh;
}
.footer_container .footer_items h2 {
  color: #a9c47f;
  font-size: 20px;
  padding-bottom: 10px;
}
.footer_container .footer_items p {
  font-size: 14px;
  color: white;
  /* text-decoration: underline; */
}
.footer_container .footer_items a {
  color: #a9c47f;
}
.footer_container .footer_items .about-us {
  text-decoration: none;
}
.footer_container .footer_items .about-us:hover {
  text-decoration: underline;
}
.footer_container .footer_items {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  text-decoration: none;
}
.footer_container .footer_items i {
  margin-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.footer_container .footer_items i:hover {
  color: #a9c47f;
}
